.sideMenu{position: relative; height: 100dvh;}
.sideMenu .logo { width: 290px; height: 130px; text-align: center; line-height: 130px; margin: 0;}


.menuArea .menu .menuItem {  margin-bottom: 20px; line-height: "24px";}
.menuItem a {display: flex; align-items: center; gap:0 6px; font-weight: bold; color: #a3aed0; text-decoration: none;}
.menuItem a.on{ color: #2b3674;}
.menuItem a img {position: relative; top: -3px; width: 24px; height: 24px;}


.memnuBottom {position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%);}
.bottomimg{width: 228px; height: 260px;}
