html, body{ margin: 0; padding: 0;}
body *{box-sizing: border-box;}
body {background-color: #EFF4FB;}
ul {list-style: none;}

.main-div{
  display: flex;
}

.sidebar{
  background-color: red;
  width:  290px;
  height: 100dvh;
}

.mainbox{
  background-color: blue;
  width: calc(100% - 290px);
  min-height: 100dvh;
}
